*
{
	margin: 0px;
	text-align: center;
}
button
{
    border: none;
    background-color: transparent;
    cursor: pointer;
	align-items: center;
}
html,
body 
{
	font-family: sans-serif;
}
body
{
	display: flex;
	flex-direction: column;
}
header, footer
{
	padding-bottom: 20px;
	padding-top: 20px;
}
header
{	
	background-color: #7d7d7d;
}
header, footer
{	
	flex: 0 0 auto;
}
header, main, .date-filter, .tags-filter, ul.tags, .tape_header, .posts, footer 
{	
	display: inline-flex;
	align-items: flex-start;
	justify-content: space-around;
	flex-wrap: wrap;
}
.logo, .user_id, .add_photo, .log, .filter
{
	width: 20%;
}
.logo, .user_id, .add_photo, .log
{
	margin-left: 2%;
	margin-right: 2%;
}
.logo, .user_id, .add_photo, .log, i
{
	font-size: 30px;
}
.logo, .user_id, .add_photo, .log, .filter_header, .tags_header, button.button-add-tag, .submit-filter, .tape_header, .date, .time 
{
	font-weight: bold;
}
.logo, .user_id, .add_photo, .log, , .date, .time, button.delete, button.edit, button.like
{
	display: inline;
}
main
{
	flex: 1 0 auto;
}
.filter, .post
{	
	background-color: #d4d4d4;
}
.filter_header, .tags_header, footer, .post, li.tag, .tape_header, .author_id, button.button-add-tag, button.submit-filter, .fa-bars
{
	color: #ffffff;
}
.filter_header, .tape_header
{
	font-size: 25px;
}
.filter_header, .date-filter, .author-filter, .tags-filter, button.submit-filter, .tape_header, input, img
{
	width: 100%;
}
.author-filter, .input-tag, .post
{
	margin-left: 5%;
	margin-right: 5%;
}
.author-filter, .date-filter, .tags-filter, .tags_header  
{
	padding-top: 5px;
	padding-bottom: 5px;
}
.date-filter
{
	padding-left: 5%;
	padding-right: 5%;
}
.filter_header
{	
	background-color: #000000;
}
.date-filter, .tags-filter
{
	justify-content: space-between;
}
.input-date
{
	width: 65%;
}
.calendar
{
	width: 25%;
}
.fa-calendar-alt, .author_id
{
	font-size: 20px;
}
.tags_header, li.tag, button.button-add-tag, button.submit-filter
{	
	background-color: #383838;
}
.tags_header, .date, .time
{
	font-size: 13px;
}
.input-tag
{
	width: 50%;
}
.add-tag
{
	width: 40%;
}
button.button-add-tag, button.submit-filter
{
	height: 22px;
	padding-left: 4%;
	padding-right: 4%;
}
ul.tags, button
{
	list-style-type: none;
	padding: 0;
}
ul.tags
{
	background-color: #ffffff;
}
ul.tags
{
	height: 250px;
	border: 2px solid #000000;
}
ul.tags
{	
	overflow: auto;
}
li.tag
{
	margin: 5px;
	border-radius: 10px;
	padding: 5px;
	height: 17px;
	font-size: 13px;
}
.tape
{	
	width: 80%;
}
.tape_header
{	
	background-color: #262626;
}
.tape-name, .author-filter, .date-filter
{
	width: 90%;
}
button.showfilter
{
	width: 5%;
}
button.showfilter
{
	margin: 6px;
}
.post
{
	margin-top: 20px;
	margin-bottom: 20px;
}
.author_id
{	
	background-color: #4f4f4f;
}
.date, .time
{
	color: #292929;
}
button.delete, button.edit, button.like
{
	width: 30%;
}
button.delete
{
	margin-left: 1%;
}
button.edit
{
	margin-left: 1%;
	margin-right: 1%;
}
button.like
{
	margin-right: 1%;
}
p
{
	color: #000000;
}
span.tags
{
	color: #31326e;
}
.fa-bars
{
	font-size: 15px;
}
footer
{	
	background-color: #2c2b33;
}
@media screen and (max-width: 700px)
{
	.post{width: 90%;}
	.logo, .user_id, .add_photo, .log{font-size: 20px;}
}
@media screen and (min-width: 700px)
{
	.post{width: 40%;}
	.logo, .user_id, .add_photo, .log{font-size: 30px;}
}
@media screen and (max-width: 1190px)
{
	.filter{display: none;}
	.tape{width: 100%;}
	button.showfilter{display: block;}
}
@media screen and (min-width: 1190px)
{
	.filter{display: block;}
	.tape{width: 80%;}
	button.showfilter{display: none;}
}

